.section {
  padding-bottom: calc(var(--line));
  display: flex;
  gap: var(--char2);
  &.spacesmall {
    padding: calc(var(--line) * 1) 0;
  }
  &.space {
    padding: calc(var(--line) * 2) 0;
    @media (max-width: 768px) {
      padding: calc(var(--line) * 1) 0;
    }
  }
  &.spacebig {
    padding: calc(var(--line) * 3) 0;
    @media (max-width: 768px) {
      padding: calc(var(--line) * 1) 0;
    }
  }
  &.hr,
  &.hrbottom {
    position: relative;
    margin-bottom: calc(var(--line) * 1);
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(var(--black-rgb), 0.1);
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
  &.hrbottom {
    &::after {
      top: 100%;
    }
  }
  &.first {
    margin-top: calc(var(--line) * 10);
  }
  &.between {
    justify-content: space-between;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  .col {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--s2);
    &.middle {
      justify-content: center;
    }
    &.bottom {
      justify-content: flex-end;
    }
    &.between {
      justify-content: space-between;
    }
    &.sticky > div {
      position: sticky;
      top: calc(var(--line) * 3);
    }
    &.border {
      border-top: 1px solid rgba(var(--black-rgb), 0.1);
      padding-top: var(--line);
    }
    &.w1 {
      width: var(--s1);
    }
    &.w2 {
      width: var(--s2);
    }
    &.w3 {
      width: var(--s3);
    }
    &.w4 {
      width: var(--s4);
    }
    &.w5 {
      width: var(--s5);
    }
    &.w6 {
      width: var(--s6);
    }
    &.w7 {
      width: var(--s7);
    }
    &.w8 {
      width: var(--s8);
    }
    p {
      padding-right: var(--char2);
    }
  }
}

html.grid .section.outline {
  outline: 1px dashed rgba(var(--black-rgb), 0.3);
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    gap: var(--line);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    &.first {
      margin-top: calc(var(--line) * 2) !important;
    }
    &.wrap {
      flex-wrap: wrap;
      flex-direction: row !important;
    }
    .col {
      width: 100% !important;
      left: 0 !important;
      top: 0 !important;
      &:empty {
        display: none;
      }
      &.halfwidth {
        flex: 0.5;
      }
      .mega {
        margin-top: calc(var(--line) * 1);
        margin-bottom: calc(var(--line) * 1);
      }
    }
    &.space {
      padding: calc(var(--line) * 1) 0;
    }
    &.spacesmall {
      padding: calc(var(--line) * 0.5) 0;
    }
  }
}
